<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card col-xs-6" style='background-image: url(<%= cl_image_path("samples/ecommerce/leather-bag-gray.jpg") %>)' >

        <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-white"  %> </h2>
      </div>
    <% end %>


  </div>
    <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
