// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "cocktails";

.text-white{
  color: white;
}

.text-white:hover{
  color:rgba(220,220,220,0.9);
  text-decoration: none;
}

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.dose_card{
  display: flex;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  margin: 10px;
  width: 200px;
  background-color: #FFFFFF;
  height: 150px;
  flex-direction: column;
}

.dose_container{
  display: flex;
  flex-direction: column;
  align-items:center;

}

.btn-primary{
  width:200px;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
